@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

html, body {
  background-color: $light-grey;
  min-height: 100%;
}

body {
  position: relative;
  min-height: 100vh;

  &#authenticated-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .content {
      flex: 1;
      width: 100%;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
